SUPABASE_URL=<Lấy url và key trên web supabase>
SUPABASE_KEY=<Lấy url và key trên web supabase>

MQTT_HOST=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

TELEMETRY_PERSISTENCE_INTERVAL_TIME=10